@charset "UTF-8";
body{
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1080px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
button,label{
  cursor: pointer;
}

/* 共通ボタン */

button.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-radius: 0.3rem;
  border: none;
  border-bottom: 4px solid #b84c00;
}
button.btn--orange:active {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-radius: 0.3rem;
  border-bottom: 2px solid #b84c00;
}
button.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
/* ここまでコピー　https://jajaaan.co.jp/css/button/ より*/

.header{
  margin-top: 1.8rem;
  text-align: center;
  font-size: 1.0rem;
}

h1{
  margin-left: 1.6rem;
}
.h-flex{
  display: flex;
  justify-content:space-around;
}

.scoreArea{
  font-size: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

.sentence{
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.sentence-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


@media (min-width:600px) {
  .header{
    margin-top: 1.4 rem;
    padding: 1rem;
  }
  .sentence-wrapper{
   margin-top: 2.6rem;
  }
  .sentence{
    font-size: 1.4rem;
  }
}

.candidate{
  height: 380px;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.candidate p{
  margin-top: 30px;
  text-align: center;
}

.candidate div,.candidate p{
  margin-bottom: 2.6rem ;
  font-size: 1.4rem;
}

.candidate p{
  width: 100%;
  margin: auto 0;
}

@media (min-width:600px) {
  .candidate{
    width: 70%;
  }
  .candidate div{
    font-size: 1.2rem;
  }
}

.next{
  width: 48%;
  margin: 0 auto;
  text-align: center; /*これでボタンを真ん中に*/
}

.changeButton{
  text-align: center;
  font-size: 0.9rem;
  padding: 2.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-bottom: 30px;
}

/* .twitter-hashtag-button{
  display: block;
} */

.tweetButtonArea{
  width: 70%;
  margin: 0 auto;
}

.footer{
  height: 70px;
}
